/*地图标题*/
.BMap_bubble_title {
	color:white;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
	padding-top:5px;
	border-bottom:1px solid gray;
	background-color:rgb(252, 4, 4);
}
/* 消息内容 */
.BMap_bubble_content {
	background-color:white;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:10px;
}
/* 内容 */
.BMap_pop div:nth-child(9) {
	top:35px !important;
	border-radius:7px;
}
/* 上角删除按键 */
.BMap_pop img {
    /* 根据信息框的大小调整 */
	top:45px !important;
	left:255px !important;
}
.BMap_top {
	display:none;
}
.BMap_bottom {
	display:none;
}
.BMap_center {
	display:none;
}
/* 隐藏边角 */
.BMap_pop div:nth-child(1) div {
	display:none;
}
.BMap_pop div:nth-child(3) {
	display:none;
}
.BMap_pop div:nth-child(5) {
	display:none;
}
.BMap_pop div:nth-child(7) {
	display:none;
}

#control {
    position: absolute;
    bottom: 15px;
}
.button {
    margin: 5px;
    padding: 13px 23px;
    border-radius: 10px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    font: 16px/14px Tahoma, Verdana, sans-serif;
    text-align: center;
    color: #fefefe;
    background: #1e90ff;
}
